.genericInputContainer {
  width: 100%;

  .genericInput {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #f6f6f6;
    color: #141414;
    border-radius: 10px;
    border: none;
    font-family: GeomanistRegular;
    font-weight: bolder;
    outline: none !important;
    @media screen and (min-width: 480px) {
      font-size: 9pt;
    }
  }
  .genericInputInfo {
    width: 100%;
  }
}

.genericTextArea {
  padding: 10px;
  font-family: GeomanistRegular;
}

.genericInputContainer.input-regular {
  .genericInput {
    height: 40px;
  }
}

.genericInputContainer.input-message {
  .genericInput {
    height: 180px;
    resize: none;
  }
}

.genericInput:focus {
  border: 1px solid #141414;
}

.genericInput-error {
  border: 1px solid #ff6f61 !important;
}

.genericInput-validate {
  border: 1px solid #31d2b3 !important;
}
.genericInputInfo {
  // margin-top: 2px;
  height: 20px;

  .genericInputInfo-error {
    font-family: "Futura LT";
    color: #ff6f61;
    font-size: 8pt;
    display: inline;
  }

  .genericInputInfo-validate {
    font-family: "Futura LT";
    color: #31d2b3;
    font-size: 10pt;
    display: inline;
  }
}
