.genericInputContainer {
  width: 100%;
  height: 60px;

  .genericInput {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #f6f6f6;
    color: #141414;
    border-radius: 10px;
    border: none;
    font-family: "Futura LT";
  }
  .genericInputError {
    width: 100%;
    height: 20px;
  }
}

.genericTextArea {
  padding: 10px;
  font-family: GeomanistRegular;
}

.genericInputContainer.input-regular {
  height: 60px;
  .genericInput {
    height: 40px;
  }
}

.genericInputContainer.input-message {
  height: 200px;
  .genericInput {
    height: 180px;
  }
}

.genericInput:focus {
  border: 1px solid #141414;
}
