@font-face {
  font-family: GeomanistRegular;
  src: url(../assets/fonts/Geomanist-Regular.otf);
}

@font-face {
  font-family: GeomanistBold;
  src: url(../assets/fonts/Geomanist-Bold.otf);
}

@font-face {
  font-family: GeomanistBlack;
  src: url(../assets/fonts/Geomanist-Black.otf);
}

@font-face {
  font-family: Futura LT;
  src: url(../assets/fonts/FuturaLT.ttf);
}

@font-face {
  font-family: Futura LT;
  src: url(../assets/fonts/FuturaLT.ttf);
}
@font-face {
  font-family: Futura Book;
  src: url(../assets/fonts/FuturaLT-Book.ttf);
}
@font-face {
  font-family: Futura LT Heavy;
  src: url(../assets/fonts/FuturaLT-Heavy.ttf);
}
@font-face {
  font-family: Futura LT Light;
  src: url(../assets/fonts/FuturaLT-Light.ttf);
}
