#banner {
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  position: relative;
  // scroll-snap-align: start;
  @media screen and (min-width: 480px) {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

#banner-logo {
  position: absolute;
  top: 20px;
  width: 80px;
  @media screen and (min-width: 480px) {
    display: none;
  }
}
