.slider-card {
  height: 100%;
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  .slider-card-text {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 50%;
    .slider-card-title {
      color: white;
      font-family: GeomanistBlack;
      font-size: 32pt;
      display: block;
      margin-bottom: 15px;
    }
    .slider-card-description {
      color: white;
      font-family: GeomanistRegular;
      font-size: 10pt;
      line-height: 20px;
      font-weight: bolder;
      // text-align: justify;
      letter-spacing: 0.05em;
    }
  }
}
